form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-dark {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-items: center;
}
